
        body{
            background-color: black;
        }
        .map-container {
            position: relative;
            width: 95vw;
            height: 107vh;
            background: url('project2-4.png') no-repeat center center;
            background-size: cover;
            margin: auto;
            opacity: 0.9;
        }

        .icon {
            position: absolute;
            width: 100px;
            height: 100px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
        }
    


        /* 放大效果 */
        .icon:hover {
            transform: scale(1.5);
        }
    

        .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0);  /* 透明绿色 */
    padding: 1px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5); /* 半透明白色 */
}


.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    transition: background 0.3s, border-radius 0.3s;
}

.navbar ul li a:hover {
    background: rgba(15, 15, 15, 0.2);
    border-radius: 5px;
}
